
<button md-raised-button color="primary" (click)="observe()">observe</button>

<div fxFlexFill fxLayout="column">
  <header>Using Flex-Layout with Router-Outlets</header>
  
  <div class="content" fxFlex> content </div>
    <div class="containerX" fxFlex>
    <div [fxLayout]="direction" (click)="toggleDirection()" class="colored box" >
      <div fxFlex="20">  fxFlex="20"  </div>
      <div fxFlex="70">  fxFlex="70"  </div>
      <div fxFlex="10">  fxFlex="10"  </div>
    </div>
  </div>
  
  <footer>
    <div class="version">
      Using @angular/flex-layout (current HEAD on Github Master)
    </div>
  </footer>
</div>

<h2>Dynamic grid-list :</h2>
<md-grid-list cols="4" rowHeight="100px">
  <md-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </md-grid-tile>
</md-grid-list>