.top-one {background-color: #222; opacity:0.9;
 position:fixed;left:0; top:0; height:4em;width: 100%; z-index:100;}

.btn-top {
   color: #ccc;
}
.btn-top:hover {
   color: #aa0;
}
i{
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
i.fa-times{
  transform: rotate(90deg);
}

/* sidenav */
.sidenav-container {
  z-index:100;opacity:0.9;
  position:fixed;left:0; top:4em;
  width: 100%;
  height: 100%;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  background-color: #222;
  padding: 20px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #ccc;
}
