<div class="top-one">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-around center" fxHide.xs>
    <div fxFlex="20"></div>
    <button md-button class="btn-top" [routerLink]="['/flex']"><b>flex</b></button>
    <button md-button class="btn-top" [routerLink]="['/test']"><b>test</b></button>
    <button md-button class="btn-top" [routerLink]="['/flexr']"><b>flexr</b></button>
    <button md-button class="btn-top" [routerLink]="['/form']"><b>form</b></button>
    <div fxFlex="20"></div>
  </div>

  <div fxHide.gt-xs fxFlex fxLayout="row">

    <button md-button class="btn-top" (click)="onMenu(sidenav);">
      <i [class]="menuClass" aria-hidden="true"
      aria-label="Menu" aria-controls="navigation"></i>
    </button>

    <div fxFlex fxLayout="row" fxLayoutAlign="start">
        <button md-button class="btn-top" [routerLink]="['/']" (click)="sidenav.close()">TITULO</button>
    </div>
  </div>
</div>

<div style="height:4em"></div>

<md-sidenav-container [style.visibility]="!isSidenav ? 'hidden' : 'visible'"
  class="sidenav-container" fxHide.gt-xs>
  <md-sidenav #sidenav class="sidenav" (close-start)="onCloseSidenav()">
    <div fxFlex fxLayout="column" fxLayoutAlign="space-around center">
      <div fxFlex="20"></div>
      <button md-button class="btn-top" [routerLink]="['/flex']" (click)="sidenav.close()"><b>flex</b></button>
      <button md-button class="btn-top" [routerLink]="['/test']" (click)="sidenav.close()"><b>test</b></button>
      <button md-button class="btn-top" [routerLink]="['/flexr']" (click)="sidenav.close()"><b>flexr</b></button>
      <button md-button class="btn-top" [routerLink]="['/form']" (click)="sidenav.close()"><b>form</b></button>
      <div fxFlex="20"></div>
    </div>
  </md-sidenav>

  <div class="sidenav-content">
  </div>
</md-sidenav-container>