.zero {
    background-color: #c0c0c0;
}
.one {
    background-color: red;
}
.two {
    background-color: yellow;
}
.two_one {
    background-color: cyan;
}
.two_two {
    background-color: snow;
}
.two_three {
    background-color: #ffa0a0;
}